*{
    padding: 0;
    margin: 0;
   
}

body {
    background-color: slategrey;

}

.header{
    padding: 40px;
    border-bottom: 10px solid black;
    padding-bottom: 10px;
    background-color: #5b7d82;
    font-family:Georgia, 'Times New Roman', Times, serif;    
}

.header h2{
    
    display:inline-block;
    text-align: left;
    font-size: 30px;
    border-bottom: 10px solid black;
    padding-bottom: 5px;
    text-shadow: 0 0 3px #595656;
}

.header div{
    padding-bottom: 5px;
    margin-right: 5px;
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 10px;
}

.header div ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
}

.header div  li {
display: inline-block;
margin-top: .5px;
border-radius: 3px;
border-style:double;
background-color: slategrey;
}

a {
    font-weight: bold;
    color: black;
font-size: 20px ;
text-decoration: none;

}

a:hover{
    font-size: 25px;
    
}

.About {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.5%;
    border-bottom: 10px solid black;
    margin-right: 40px;
    margin-top: 120px;
    margin-bottom: 60px;
    
    
}

.About h2{
    text-align: left;
    display: inline-block;
    font-weight: bold;
    border-right:10px solid black;
    padding-right: 10px;
    height: 100px
    
    
    
}

.About p{
    position: relative;
    bottom: 80px;
    text-align: left;
    padding-bottom: 10px;
    font-size: autos;
    margin-left: 150px;
}


.About img {
    max-width: 15%;
    height: 20%;
    align-items: center;
    position: relative;
    border-style: ridge;
    border: 5px solid black;
}

.container {
    
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    grid-gap: 100px;
    
  }

.box1 {
    border-right:10px solid black;
    padding-right: 10px;
    size: 100px;
}
.box1 img {
    position: relative;
    vertical-align: bottom;
    width: 80%;
    height:80%;
    border-style:ridge;
    border: 5px solid black;
    
}
.box1 img:hover{
    opacity: 30%;
    background-size: 20px;
    transform: scale(1.1);
}
.box1 p{
    margin-top: 20px;
    margin-left: 0px;
    font-size: 17px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}
.box2 {
    border-bottom: 10px solid black;
    padding-bottom: 5px;
}
.box2 img {
    position: relative;
    vertical-align: bottom;
    width: 60%;
    height: 60%;
    border-style: ridge;
    border: 5px solid black;

}
.box2 img:hover{
    opacity: 30%;
    transform: scale(1.1);
}
.box2 p{
    font-size: 17px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}
.box3 {
    border-top: 10px solid black;
    padding-top: 5px;
}
.box3 img {
   position: relative;
   vertical-align: bottom;
    width: 70%;
    height: 70%;
    border-style: ridge;
    border: 5px solid black;  
}
.box3 img:hover{
    opacity: 30%;
    transform: scale(1.1);

}
.box3 p{
    font-size: 17px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}

.box4{
    border-left:10px solid black;
    padding-left: 2.5px;
}

.box4 img {
    position: relative;
    vertical-align: bottom;
    width: 50%;
    height: 50%;
    border-style: ridge;
    border: 5px solid black;
}
.box4 img:hover{
    opacity: 30%;
    transform: scale(1.1);
}
.box4 p{
    font-size: 17px;
    font-weight: bold;
    border-style: solid;
    text-align: center;
}
.Contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.5%;
    border-bottom: 10px solid black;
    margin-right: 40px;
    margin-top: 120px;
    margin-bottom: 60px;
}
.Contact h2 {
    text-align: left;
    display: inline-block;
    font-weight: bold;
    border-right:10px solid black;
    padding-right: 10px;
    height: 100px
}



.Contact div ul {
    list-style-type: ;
    margin-top: 0px;
    margin-left: 55%;
    padding-left: 10px;
}
.Contact div  li {
    display: inline-block;
    margin-top: .5px;
    border-radius: 3px;
    border-style:double;
    background-color: slategrey;
    }