*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: slategrey;

}

.header{
    padding: 40px;
    border-bottom: 10px solid black;
    padding-bottom: 10px;
    background-color: #5b7d82;
    font-family:Georgia, 'Times New Roman', Times, serif;    
}

.header h2{
    
    display:inline-block;
    text-align: left;
    font-size: 30px;
    border-bottom: 10px solid black;
    padding-bottom: 5px;
    text-shadow: 0 0 3px #595656;
}

.header div{
    padding-bottom: 5px;
    margin-right: 5px;
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-top: 10px;
}

.header div ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
}

.header div  li {
display: inline-block;
margin-top: .5px;
border-radius: 3px;
border-style:double;
background-color: slategrey;
}

a {
    font-weight: bold;
    color: black;
font-size: 20px ;
text-decoration: none;

}

a:hover{
    font-size: 25px;
    
}

.About {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.5%;
    border: 60px;
    margin-right: 40px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.About h2{
    text-align: left;
    display: inline-block;
    font-weight: bold;
    border-right:10px solid black;
    padding-right: 10px;
    height: 100px
    
    
    
}

.About p{
    position: relative;
    bottom: 80px;
    text-align: left;
    padding-bottom: 10px;
    font-size: autos;
    margin-left: 150px;
}